.cover{
    width:75vw;
    height:75vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
              10px 10px 30px 4px rgba(45, 76, 248, 0.15);
}