body {
  margin: 0;
  /* font-family: 'GFS Didot', serif; */
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
